{{>header}}
<h1>{{content}}</h1>

<form action="" name="form">
    <input type="text" name="search" placeholder="Enter location" />
    <button type="submit">Search</button>
</form>

<p id="error"><span></span></p>

<p id="location">Location : <span></span></p>
<p id="weather">Weather : <span></span></p>
<p id="temperature">Temperature : <span></span></p>

{{>footer}}