<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="{{icon}}" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            <div>
                <a href="/">Home</a>
                {{!-- <a href="/weather">Weather</a> --}}
                <a href="/help">Help</a>
                <a href="/about">About Us</a>
            </div>